@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Mono:wght@400;500;700&display=swap');

body {
  font-family: Fira Code, Arial, sans-serif;
}
code {
  font-family: Fira Mono, monospace;
  font-size: 85%;
}